<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
        <button class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed" type="button" aria-controls="navbarPumplastique"
            aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a class="navbar-brand text-left" routerLink="/garages" routerLinkActive="active">PumCars</a>

        <div class="collapse navbar-collapse" id="navbarPumplastique" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/garages" routerLinkActive="active">Garages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cars" routerLinkActive="active">Cars</a>
                </li>
            </ul>
        </div>
</nav>