<div class="container text-center">

    <div *ngIf="hiddenForm" class="mt-1 mb-1">
        <button (click)="new()" class="btn btn-success">New</button>
    </div>
    <form *ngIf="!hiddenForm" (ngSubmit)="submit()" class="form mt-3">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input type="text" class=" col-sm-10 form-control" minlength="3" id="name" name="name" [(ngModel)]="garage.name" #name="ngModel"
                required>
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="col-sm-12 form-text text-danger">
                <div [hidden]="!name.errors.required">
                    Name is required
                </div>
                <div [hidden]="!name.errors.minlength">
                    Name must be at least 3 characters long.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="nbOfPlaces" class="col-sm-2 col-form-label">Number of Place</label>
            <input type="number" [min]="min" class="col-sm-10 form-control" id="nbOfPlaces" name="nbOfPlaces" [(ngModel)]="garage.nbOfPlaces"
                #nbOfPlaces="ngModel" required>
            <div *ngIf="nbOfPlaces.errors && (nbOfPlaces.dirty || nbOfPlaces.touched)" class="col-sm-12 form-text text-danger">
                <div [hidden]="!nbOfPlaces.errors.required">
                    Number of Place is required
                </div>
                <div [hidden]="!nbOfPlaces.errors.min">
                    Number of Place can not be less than the number of cars in garage.
                </div>
            </div>
        </div>

        <div class="">
            <button type="submit" [disabled]="nbOfPlaces.errors || name.errors" class="btn btn-success">Submit</button>
            <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
    </form>
    <div class="row container mt-3 mb-3 hidden-xs-down">
        <hr class="col-sm-12" />
        <div class="col-sm-2">
            Garage Number
        </div>
        <div class="col-sm-3">
            Name
        </div>
        <div class="col-sm-2">
            Number of Places
        </div>
        <div class="col-sm-2">
            Actual cars number
        </div>
        <div class="col-sm-3">
            Option
        </div>
    </div>
    <hr class="col-sm-12" />
    <div class="row container" *ngFor="let garage of garages; let i = index">
        <div class="col-sm-2">
            <div class="hidden-sm-up info">Garage Number</div>{{garage.id}}
        </div>
        <div class="col-sm-3">
            <div class="hidden-sm-up info">Name</div>{{garage.name}}
        </div>
        <div class="col-sm-2">
            <div class="hidden-sm-up info">Number of Places</div>{{garage.nbOfPlaces}}
        </div>
        <div class="col-sm-2">
            <div class="hidden-sm-up info"> Actual cars number</div>{{garage.cars.length}}
        </div>
        <div class="col-sm-3">
            <div class="hidden-sm-up info">Option</div>
            <a class="btn btn-info btn-sm" [routerLink]="['/garage', garage.id]" routerLinkActive="active">Detail</a>
            <button class="btn btn-primary btn-sm" (click)="edit(garage)">Edit</button>
            <button class="btn btn-danger btn-sm" mwlConfirmationPopover title="Any deletion is final." message="" placement="left" (confirm)="delete(garage)" >Delete</button>
        </div>
        <hr class="col-sm-12" />
    </div>

</div>