<div class="container">
  <div class="row  text-center mt-2 mb-2">
    <h1 class="col-sm-4">
      PumCars
    </h1>
    <div class="col-sm-4">
      <img class="img-responsive " src="http://www.pumplastiques.fr/medias/logo-pum.png?context=bWFzdGVyfHJvb3R8NTk0MHxpbWFnZS9wbmd8aDY1L2hhYi84OTAxNTk4MjQ4OTkwLnBuZ3w0NjkyOGZkYmZjYjgzY2M3YTA3NmY4MmE4NTQ4OGQyYWUzNWUwOWZhMDQ1NjczNGI4NDQ4MDkzNjM5MjBiMTdk"
      />
    </div>
    <h1 class="col-sm-4 hidden-xs-down">
      PumCars
    </h1>
  </div>
</div>
<div class="row">
</div>
<navbar></navbar>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>